/* Empty. Add your own CSS if you like */
.bar {
   height: 100px;
}

.has-header{
    margin-top: 50px;
}

.badge-container{
      position: relative;
}

.appbody {
  background-color: white;  
}

.center {
    margin: auto;
    width: 60%;
}

.jumbotron {
    border-radius: 0px !important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.btn-fixed{
    width: 120px !important;
}
