<div class="row">
    <div class="col-md-4 col-xs-12" ng-repeat="friend in list">
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-thumbnail img-responsive" width="80px" ng-src="{{friend.avatar}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{friend.fullname}} ({{friend.username}})</h4> {{friend.location}}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-primary glyphicon glyphicon-user" ng-click="goToProfile(friend.id)">
                </button>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok" ng-show="haccept" class="button" ng-click="accept(friend.id)">
                </button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-show="hrmv" class="button button-assertive  icon button-outline ion-ios-close"
                    ng-click="remove(friend.id) ">
                </button>
            </div>
        </div>
    </div>
</div>