<div class="btn-group btn-group-md" role="group">
    <!--visible on large devices-->
    <button class="visible-md visible-lg btn" type="button" ng-repeat="name in names track by $index" ng-class="($index === selected)? 'btn-info': 'btn-default'"
        ng-click="buttonClicked($index)">{{name}}</button>

    <!--visible on small devices-->
    <button class="visible-sm btn btn-sm" type="button" ng-repeat="name in names track by $index" ng-class="($index === selected)? 'btn-info': 'btn-default'"
        ng-click="buttonClicked($index)">{{name}}</button>
    <button class="visible-xs btn btn-xs" type="button" ng-repeat="name in names track by $index" ng-class="($index === selected)? 'btn-info': 'btn-default'"
        ng-click="buttonClicked($index)">{{name}}</button>
</div>