<div class="row">
    <div class="col-md-12">
        <div class="well clearfix">
            <h2 class="pull-left">{{user.fullname}} ({{user.username}})</h2>
            <p class="pull-right">
                Location: {{user.location}}<br> Age: {{user.birthdate | ageFilter}}<br>
                <small ng-if="user.isPatient"><strong>Patient</strong></small>
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img ng-src="{{user.avatar}}" width="200">
        </div>
    </div>
    <div class="col-md-8 ">
        <p>
            {{user.about}}
        </p>
    </div>
</div>