<div class="modal-header">
    <h3 class="modal-title">
         <div ng-transclude="head">
             {{title}}
         </div>
    </h3>
</div>
<div class="modal-body">
    <div ng-transclude="body"></div>
</div>
<div class="modal-footer">
    <div ng-transclude="footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-show="showCancel" ng-click="cancel()">Cancel</button>
    </div>
</div>