<diamodal>
    <diamodal-head>
        {{currentReportdate | date:'medium'}}
    </diamodal-head>
    <diamodal-body>
        <div class="list">
            <div class="item item-stacked-label item-text-wrap" ng-repeat="ra in reportAnswers ">
                {{ra.question}}
                <p class="padding">{{ra.answer}}</p>
            </div>
        </div>
    </diamodal-body>
</diamodal>