<diamodal>
    <diamodal-head>
        Edit Profile
    </diamodal-head>
    <diamodal-body>
        <form name="upForm" role="form">
            <fieldset>
                <input class="form-control" type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required
                    ngf-model-invalid="errorFile">
                <i ng-show="myForm.file.$error.required">*required</i><br>
                <i ng-show="myForm.file.$error.maxSize">File too large {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumbnail">
                <div class="caption">
                    <p ng-show="uploaded">Upload Successful</p>
                    <button ng-click="picFile = null" ng-show="picFile" class="btn btn-danger">Remove</button>
                    <button ng-if="picFile" ng-click="uploadPic(picFile)" class="btn btn-primary">Upload</button>
                </div>
            </fieldset>
        </form>
        <br>
        <form role="form">
            <div class="form-group">
                <label for="about" class="control-label">About</label>
                <textarea rows="20" idr="about" placeholder="Message Content" class="form-control" ng-model="edit.about" required></textarea>
            </div>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button class="btn btn-primary" type="submit" ng-click="updateProfile()">Update</button>
    </diamodal-footer>
</diamodal>