<ion-view>
   <ion-content>
    <p class="item-text-wrap padding">
      Too see diabetes related events around the, please visit  
       <a href="#" onclick="window.open('http://www.idf.org/wdd-events', '_system', 'location=yes'); return false;">
        http://www.idf.org/wdd-events</a>
    </p>
  </ion-content>
</ion-view>
