<diamodal>
    <diamodal-head>
        <div class="media">
            <div class="media-left">
                <img class="media-object" width="64px" ng-src="{{user.avatar}}">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Blood Sugar Chart</h4> {{user.fullname}}
            </div>
        </div>
    </diamodal-head>>
    <diamodal-body>
        <canvas id="line " class="chart chart-line " data="data " labels="labels " chart-legend="true " series="series " chart-options="{showTooltips: true}"></canvas>
    </diamodal-body>
</diamodal>