<button class="btn btn-sm btn-warning" ng-click="openEditProfile()"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
<diaprofile user="user"></diaprofile>

<div class="well">
    <diabuttongroup names="buttonNames" selected="selectedButton" whenclicked="buttonClicked(index)"></diabuttongroup>
</div>


<diafollow list="social" hasremove="hasRemove" hasaccept="hasAccept" listid="listid" action="followAction(name,userid,listid)"></diafollow>