<div class="jumbotron">
  <h1>Dia - Link</h1>
</div>
<div class="row">
  <div class="col-md-5 col-sm-5 col-md-offset-3 col-sm-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">Log In</h4>
        <button class="btn btn-success pull-right" ng-click="goToRegister()">Register</button>
      </div>
      <div class="panel-body">
        <form ng-submit="login()" class="form-signin">
          <div class="form-group">
            <label for="inputUsername" class="control-label">Username</label>
            <input type="text" id="inputUsername" ng-model="loginData.username" class="form-control" placeholder="Username" required
              autofocus>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="control-label">Password</label>
            <input type="password" id="inputPassword" ng-model="loginData.password" class="form-control" placeholder="Password" required>
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" ng-disabled="waitForLogin" type="submit">Log in</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>