<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Meetings</h3>
    </div>
    <div class="panel-body">
        <button ng-show="isPatient" type="button" class="btn btn-primary btn-fixed" ng-click="openCreate()">
            <i class="glyphicon glyphicon-plus"></i>
            <span class="hidden-xs">New</span>  
        </button>
        <button type="button" class="btn btn-success btn-fixed" ng-click="refresh()">
            <i class="glyphicon glyphicon-refresh"></i>
            <span class="hidden-xs">Refresh</span>
        </button>
    </div>
    <div class="panel panel-info" ng-repeat="meeting in meetings | orderBy: 'date' ">
        <div class="panel-heading "> Location: {{meeting.location}}, {{meeting.city}}<br> By: {{meeting.fullname}} ({{meeting.username}})<br> {{meeting.date
            | date:'medium'}}</a>
        </div>
        <div class="panel-body ">
            {{meeting.details}}
        </div>
        <div class="panel-footer ">
            <button class="btn btn-link" ng-click="showAttenders(meeting.id)">Attenders</button>
            <button type="button" class="btn btn-success" ng-hide="meeting.joined || meeting.owner" ng-click="join($index)">
        Join</button>
            <button type="button" class="btn btn-warning" ng-show="meeting.joined && !meeting.owner" ng-click="leave($index)">
        Leave</button>
            <button type="button" class="btn btn-danger" ng-show="meeting.owner" ng-click="cancel($index)">
        Cancel</button>
        </div>
    </div>