<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <!--<img alt="Brand" src="...">-->
        Dia-Link
      </a>
      <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="what.like" placeholder="{{criteria.by | capitalize}}, {{criteria.city}}">
          <span class="input-group-btn">
          <button type="submit" ng-click="search()" class="btn btn-default">Search</button>
          <button class="btn btn-default" ng-click="searchSettings()">
            <span class="caret"></span>
          </button>
          </span>
        </div>
      </form>
    </div>
    <div uib-collapse="navCollapsed" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="app.home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li ui-sref-active="active"><a ui-sref="app.messages"><i class="glyphicon glyphicon-envelope"></i> Messages</a></li>
        <li ui-sref-active="active"><a ui-sref="app.meetings"><i class="glyphicon glyphicon-user"></i> Meetings</a></li>
        <li ui-sref-active="active"><a ui-sref="app.events"><i class="glyphicon glyphicon-glass"></i> Events</a></li>
        <li ui-sref-active="active" ng-show="user.isPatient">
          <a ui-sref="app.profile({id: user.id})"><i class="glyphicon glyphicon-th-list"></i> CheckIn Reports</a>
        </li>
        <li><a ng-click="logout()">Logout ({{user.username}})</a></li>
      </ul>
    </div>
  </div>
</nav>
<div ui-view name="menuContent"></div>