<diamodal>
    <diamodal-head>
        Message Entry
    </diamodal-head>
    <diamodal-body>
            <dl class="dl-horizontal">
                <dt>From:</dt>
                <dd>{{openedMessage.from}}</dd>
                <dt>Title:</dt>
                <dd>{{openedMessage.title}}</dd>
                <dt>Date:</dt>
                <dd>{{openedMessage.createdAt | date:'medium'}}</dd>
                <dt>Body:</dt>
                <dd>{{openedMessage.body}}</dd>
            </dl>        
    </diamodal-body>
    <diamodal-footer>
        <button class="btn btn-warning" ng-click="close()">Close</button>
        <button class="btn btn-success" ng-click="openReply()">Reply</button>
        <button class="btn btn-danger" ng-click="deleteMessage()">Delete</button>
    </diamodal-footer>
</diamodal>