<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Messages</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group btn-group-md" role="group">
      <button type="button" class="btn btn-primary btn-fixed" ng-click="openNewMessage()">
      <i class="glyphicon glyphicon-plus"></i>
      <span class="hidden-xs">New</span>
    </button>
    <button type="button" class="btn btn-success btn-fixed" ng-click="refresh()">
      <i class="glyphicon glyphicon-refresh"></i>
       <span class="hidden-xs">Refresh</span>
    </button>
    </div>
  </div>
</div>
<div class="panel panel-default" ng-class="{'panel-info': !msg.viewed}" ng-repeat="msg in messages track by $index">
  <div class="panel-heading">Title: {{msg.title}}</div>
  <div class="panel-body">
    <p ng-style="msg.viewed ? {'font-weight': 'normal'} : {'font-weight': 'bold'}">
      From: {{msg.from}}</br>
      Sent At: {{msg.createdAt | date:'medium'}}
    </p>
  </div>
  <div class="panel-footer">
    <button type="button" class="btn btn-info glyphicon glyphicon-open-file" ng-click="openMessage($index)"></button>
    <button type="button" class="btn btn-warning glyphicon glyphicon-share-alt" ng-click="openReply($index)"></button>
    <button type="button" class="btn btn-danger glyphicon glyphicon-trash" ng-click="deleteMessage($index)"></button>
  </div>
</div>