<diamodal>
    <diamodal-body>
        <ul class='list-group'>
            <li ng-class='["list-group-item", {"active": $index === selectedIndex}]' ng-repeat='c in choices track by $index' 
                ng-click='$event.preventDefault(); select($index);'>
                {{c}}
            </li>
        </ul>
    </diamodal-body>
</diamodal>