<diamodal>
    <diamodal-head>
        New Check In Report
    </diamodal-head>
    <diamodal-body>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="entry in newReport.answers">
                    <h4>{{entry.question}}</h4>
                    <p><input type="text" ng-model = "entry.answer"></p>
            </li>
        </ul>
    </diamodal-body>
    <diamodal-footer>
        <button class="btn btn-primary" type="submit" ng-click="submitReport()">Create Report</button>
    </diamodal-footer>
</diamodal>