<diamodal>
    <diamodal-head>
        New Message
    </diamodal-head>
    <diamodal-body>
        <form role="form">
            <div class="form-group">
                <label for="inputUsername" class="control-label">To</label>
                <input type="text" id="inputUsername" ng-disabled="to.auto" ng-model="to.name" class="form-control" placeholder="Username"
                    required autofocus>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="control-label">Title</label>
                <input type="text" id="inputTitle" ng-model="newMessage.title" class="form-control" placeholder="Title" required>
            </div>
            <div class="form-group">
                <label for="inputBody" class="control-label">Body</label>
                <textarea rows="20" idr="inputBody" placeholder="Message Content" class="form-control" ng-model="newMessage.body" required></textarea>
            </div>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button class="btn btn-warning" type="submit" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" type="submit" ng-click="sendMessage()">Send</button>
    </diamodal-footer>
</diamodal>