<diamodal>
    <diamodal-head>
        <h1 class="title">New Meeting</h1>
    </diamodal-head>
    <diamodal-body>
        <form role="form">
            <div class="form-group">
                <label class="control-label" for="date">Date</label>
                <input type="date" placeholder="Date" class="form-control" ng-model="newMeeting.date" id="date" required>
                </label>
        </div>
            <div class="form-group">
                <label class="control-label" for="time">Time</label>
                <input type="time" placeholder="Time" class="form-control" ng-model="newMeeting.time" id="time" required>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label" for="city">City</label>
                <input type="text" placeholder="City" class="form-control" ng-model="newMeeting.city" id="city" required>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <input type="text" placeholder="Location" class="form-control" ng-model="newMeeting.location" id="location" required>
                </label>
            </div>
            <div class="form-group">
                <label class="control-label" for="details">Details</label>
                <textarea rows="10" placeholder="Meeting details (Like specific place, how to get there, theme etc...)" class="form-control"
                    id="details" ng-model="newMeeting.details" required></textarea>
                </label>
            </div>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button class="btn btn-primary" type="submit" ng-click="create()">Create Meeting</button>
    </diamodal-footer>
</diamodal>