<div ng-hide="isOwner" class="panel panel-default">
  <div class="panel-heading" ng-hide="isOwner">
    <h3 class="panel-title">Status: {{showStatuses | arrayPrinter}}</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group btn-group-md" role="group">
      <button type="button" class="btn btn-primary btn-fixed" ng-click="openNewMessage()">
      <i class="glyphicon glyphicon-envelope"></i>
      <span class="hidden-xs">Message</span>
    </button>
      <button type="button" class="btn btn-info btn-fixed" ng-show="showAdd" ng-click="add()">
      <i class="glyphicon glyphicon-plus"></i>
      <span class="hidden-xs">Add</span>
    </button>
      <button type="button" class="btn btn-danger btn-fixed" ng-show="showRemoveFollowee || showRemoveFollower" ng-click="removeFollow()">
      <i class="glyphicon glyphicon-remove"></i>
      <span class="hidden-xs">Remove</span>
    </button>
      <button type="button" class="btn btn-success btn-fixed" ng-show="showAccept" ng-click="accept()">
      <i class="glyphicon glyphicon-ok"></i>
      <span class="hidden-xs">Accept</span>
    </button>
    </div>
  </div>
</div>

<diaprofile user="user" expanded="true" ng-hide="isOwner"></diaprofile>

<div ng-show="showReports" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Check In Reports</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group btn-group-md" role="group">
      <button class="btn btn-info btn-fixed" ng-click="giChart()">
         <i class="glyphicon glyphicon-align-left"></i>
         <span class="hidden-xs">Chart</span>
      </button>
      <button class="btn btn-success btn-fixed" ng-click=checkIn()>
         <i class="glyphicon glyphicon-pencil"></i>
         <span class="hidden-xs">CheckIn</span>
      </button>
      <button class="btn btn-danger btn-fixed" ng-if="countReq" ng-click="showCheckInRequests()">
         <i class="glyphicon glyphicon-alert"></i>
         <span class="hidden-xs">Note</span>
      </button>
      <button class="btn btn-warning btn-fixed" ng-click="showReportFilterSheet()">
         <i class="glyphicon glyphicon-filter"></i>
         <span class="hidden-xs">Filter</span>
      </button>
    </div>
  </div>
</div>

<uib-accordion close-others="true">
  <uib-accordion-group heading="{{report.date | date:'medium'}}" 
      ng-repeat="report in reports track by $index" 
      ng-click="showReportDetail($index)"
      is-open="report.open">
    <!--ngAnimate messes font awesome spinning
            http://stackoverflow.com/questions/24617821/stop-angular-animation-from-happening-on-ng-show-ng-hide
            -->
    <center ng-if="!report.answers">
      <i class='fa fa-spinner fa-2x' ng-class="{'fa-spin':!report.answers}"></i>
      <span>Please wait...</span>
    </center>
    <ul class="list-group " ng-if="report.answers">
      <li class="list-group-item" ng-class="'list-group-item-info':report.open" ng-repeat="answer in report.answers">
        <div class="list-group-item-heading list-group-item-info" style="margin-bottom:0;padding:10px;">{{answer.question}}</div>
        <p class="list-group-item-text list-group-item-success" style="height:30px; text-align:center">{{answer.answer}}</p>
      </li>
    </ul>
  </uib-accordion-group>
</uib-accordion>