<div class="page-header">
  <button type="button" class="btn btn-default glyphicon glyphicon-chevron-left pull-left" ng-click="close()"></button>
  <h1>Registration</h1>
</div>
<div>
  <form ng-submit="signup()" role="form">
    <div class="form-group">
      <label class="control-label" for="username">Username</label>
      <input type="text" placeholder="Username" class="form-control" ng-model="data.username" id="username" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="password">Password</label>
      <input type="password" placeholder="Password" class="form-control" ng-model="data.password" id="password" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="repassword">Re-enter Password</label>
      <input type="password" placeholder="Re-enter Password" class="form-control" ng-model="data.repassword" id="repassword" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">E-mail</label>
      <input type="email" placeholder="E-mail" class="form-control" ng-model="data.email" id="email" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="fullname">Full Name</label>
      <input type="text" placeholder="Fullname" class="form-control" ng-model="data.fullname" id="fullname" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="city">City</label>
      <input type="text" placeholder="City" class="form-control" ng-model="data.city" id="city" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="country">Country</label>
      <input type="text" placeholder="Country" class="form-control" ng-model="data.country" id="country" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="date">Birthday</label>
      <input type="date" placeholder="BirtDate" class="form-control" ng-model="data.date" id="date" required>
      </label>
    </div>
    <div class="form-group">
      <label class="control-label" for="about">About Me</label>
      <textarea rows="10" placeholder="About Me (Optional)" class="form-control" ng-model="data.about"></textarea>
      </label>
    </div>
    <div class="checkbox">
      <label class="control-label"><input type="checkbox" ng-model="data.patient"> I'm a Patient</label>
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>