<diamodal>
    <diamodal-head>Search Settings</diamodal-head>
    <diamodal-body>
        <form>
            <div class="radio">
                <label><input type="radio" name="nameChoice" ng-model="criteria.by"  ng-checked="{{criteria.by==='username'}}" ng-value="'username'">By Username</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="nameChoice" ng-model="criteria.by"  ng-checked="{{criteria.by==='fullname'}}" ng-checked="false" ng-value="'fullname'">By Fullname</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="nameChoice" ng-checked="false" >No Field Criteria</label>
            </div>
            <div class="form-group">
                <label for="inputCity" class="control-label">City</label>
                <input type="text" id="inputCity" ng-model="criteria.city" class="form-control" placeholder="City" autofocus>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" ng-model="criteria.patient" value="criteria.patient">Patient</label>
            </div>
        </form>
    </diamodal-body>
    <diamodal-footer>
        <button type="button" class="btn btn-primary" ng-click="updateSearchCriteria()">Save</button>
    </diamodal-footer>
</diamodal>