<div class="well clearfix">
  <blockquote class="pull-right">Search Criteria: {{criteria}}</blockquote>
  <h4 class="pull-left"><span class="label label-success">Results Found: {{totalItems}}</span></h4>
</div>
<center>
<uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" class="pagination-md" boundary-link-numbers="true"
  ng-change="searchMore()" items-per-page="itemsPerPage" rotate="false"></uib-pagination>
  </center>
<diafollow list="perPageResults"></diafollow>
